---
---
<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="black" id="Model_3">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model 3</h2>
            <p class="text-black text-sm">El sedán eléctrico que combina asequibilidad con tecnología avanzada.</p>            
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20 items-center">
            <div class="flex flex-row flex-wrap justify-center gap-2">
                <a class="h-[42px] marker:border-[3px] border-gray-900 bg-gray-900 text-sm rounded font-medium text-white px-12 py-2 inline-block w-max" href="#">Ordenar ahora</a>
                <a class="h-[42px] marker:border-[3px] border-white bg-white text-sm rounded font-medium text-black px-12 py- w-max inline-flex justify-center items-center" href="#">Pruebas de manejo</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/model-3.webp" alt="Model Y" class="h-full w-full object-cover object-center"/>
    </div>
</section>